Options -Indexes
Options -MultiViews

<Files ~ "\.(inc|ttf)$">
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
	<IfModule !mod_authz_core.c>
		Deny from all
	</IfModule>
</Files>

<IfModule mod_expires.c>  
	ExpiresActive On
	ExpiresByType image/jpg					"access plus 1 month"
	ExpiresByType image/jpeg				"access plus 1 month"
	ExpiresByType image/png					"access plus 1 month"
	ExpiresByType image/gif					"access plus 1 month"
	ExpiresByType text/css					"access plus 1 month"
	ExpiresByType text/javascript			"access plus 1 month"
	ExpiresByType application/javascript	"access plus 1 month"
	ExpiresByType application/x-javascript	"access plus 1 month"
	ExpiresDefault							"access plus 2 hours"
</IfModule>

<IfModule mod_php5.c>
	php_value max_input_vars 9999
	php_value suhosin.post.max_vars 9999
	php_value suhosin.request.max_vars 9999
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /igalerie/
	RewriteRule ^sitemap\.xml$ sitemap.php [L,NC]
	RewriteRule image/[^/]+/(\d+)-.*\.(gif|jpe?g|png)$ image.php?id=$1 [L,NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(favicon\.ico|robots\.txt|sitemap\.php|sitemap\.xml)
	RewriteRule (.*) index.php?q=$1 [QSA,L]
</IfModule>

<IfModule mod_security.c>
	SecFilterEngine Off
</IfModule>
